{% render 'partials/head.liquid' %}

    <div>
        <form action="/" method="post">
            <h1>Playlist toevoegen</h1>
            <label>Titel van playlist
                <input name="title">
            </label>
            <button type="submit">Voeg toe</button>
        </form>
    </div>

    <div id="stories">
        <h2>All Stories</h2>
        {%for story in stories%}
            <img src="https://fdnd-agency.directus.app/assets//{{ story.image }}">
            <p>{{ story.title }}</p>
            <label>
                <input class="switch" type="checkbox"> 
            </label>
        {% endfor %}
    </div>

    <div id="playlist">
        <h2>Suggested Playlists</h2>
        {%for playlist in playlists %}  
           
            <h3>{{ playlist.title }}</h3>
                <img src="https://fdnd-agency.directus.app/assets/{{ playlist.image }}">
                <form action="/delete/{{ playlist.id }}" method="POST">
            
                <button type="submit" name="delete">Verwijder Playlist</button>
                </form>
                    

            </form>
        {% endfor %}
    </div>