{% render 'partials/head.liquid' %}

<main>
    <h1>{{ story.title }}</h1>

    <img src="https://fdnd-agency.directus.app/assets//{{ story.image }}">

    <article>
        <h2>{{ story.summary }}</h2>

        <p>{{ buddy.animal }}</p>
    </article>

    <div class="audio">
        <audio  controls src="https://fdnd-agency.directus.app/assets/{{ audio.audio_file }}">
        <track
        default
        src="https://fdnd-agency.directus.app/assets/{{ audio.transcript_file }}" />

        </audio>
        <p></p>
        {% comment %} Dit dient waar de audio als tekst wordt geladen {% endcomment %}
    </div>
 </main>

 <a href="/">Terug naar verhalen</a>